.gallery-suptitle {
  margin-bottom: 44px;
}

.gallery-list {
  margin-bottom: -30px;
}

.gallery-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .gallery-item {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-item {
    width: calc(100% / 4 - 30px);
  }
}
