.reg-cont-fluid {
  background-color: #191c26;
}

.registration-title {
  margin-bottom: 44px;

  color: var(--title-secondary);
}

.form-registration-row {
  margin-bottom: 44px;
}

.form-registration-field {
  position: relative;
  display: block;
}

.form-registration-label {
  position: absolute;
  top: 0;
  left: 0;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: text;

  transition: color 250ms linear, transform 250ms linear;

  .form-registration-input:focus + &,
  .form-registration-input:not(:placeholder-shown) + & {
    color: #ffffff;
    transform: translateY(-100%);
  }
}

.form-registration-input {
  height: 24px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  background-color: transparent;
  color: #ffffff;
  outline: none;

  transition: border-color 250ms linear;

  &:-webkit-autofill {
    box-shadow: inset 0 0 0 100px #191c26;
    -webkit-text-fill-color: #ffffff;
  }

  &:focus {
    border-color: #ffffff;
  }
}

.teaxtarea-field {
  display: block;
  margin-bottom: 44px;
}

.form-registration-teaxtarea {
  resize: none;
  height: 76px;
}

@media screen and (max-width: 767px) {
  .registration {
    text-align: center;
  }
  .form-registration-field {
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 768px) {
  .form-registration-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .form-registration-field {
    width: calc((100% - 30px) / 2);
  }
  .teaxtarea-field {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .reg-cont-wrap {
    max-width: 1280px;
    margin: 0 auto;

    background-image: url(../images/contacts-bg-desk.png);
    background-repeat: no-repeat;
    background-size: calc(50% - 15px);
    background-position: right;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: (192dpi)),
      (min-resolution: (2dppx)) {
      background-image: url(../images/contacts-bg-desk@2x.png);
    }
  }
  .registration {
    width: calc((100% - 40px) / 2);
  }

  .reg-cont-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .registration .container {
    padding: 0;
  }
}
