:root {
  --accent-color: #ff6c00;
  --primary-text-color: #555555;
  --secondary-text-color: #9da4bd;
  --title-primary: #303030;
  --title-secondary: #ffffff;
  --primary-ff: 'Open Sans', sans-serif;
  --secondary-ff: 'Raleway', sans-serif;
}
